<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div class="recipe-details">
<h1 class="recipe-name-show">Recipe #<%= @recipe.recipe_number %></h1>
  <div class="recipe-info">
    <div class="info-item">
      <p><b>Name:</b></p>
      <span><%= @recipe.name %></span>
    </div>
    <div class="info-item">
      <p><b>Preparation Time:</b></p>
      <span> <%= @recipe.preparation_time %></span>
    </div>
    <div class="info-item">
    <p><b>Cooking Time:</b></p>
      <span> <%= @recipe.cooking_time %></span>
    </div>
    <div class="info-item">
      <p><b>Description:</b></p>
      <span> <%= @recipe.description %></span>
    </div>
  </div>
  <% if @current_user.id == @recipe.user_id %>
    <div class="public-switch">
      <span>Public</span>
      <label for="public-switch">
        <input type="checkbox" id="public-switch" class="" <%= @recipe.public ? 'checked' : '' %>>
        <div class="switch"></div>
      </label>
    </div>
  <% end %>
  <div class="actions">
    <div class="action-item">
      <%= link_to "/general_shopping_list", class: "action-link" do %>
        <button>
          General Shopping List
        </button>
      <% end %>
    </div>
    <div class="action-item">
      <%= link_to new_recipe_recipe_food_path(@recipe), class: "action-link" do %>
        <button>
          Add Ingredient
        </button>
      <% end %>
    </div>
  </div>
</div>





    
     <hr class="">
		<div class=" ">
			<table class="">
        <% if @recipe_foods.length > 0 %>
        <thead>
          <tr>
            <th class="">Food</th>
            <th class="">Quantity</th>
            <th class="">Value</th>
            <th class="">Actions</th>
          </tr>
        </thead>
        
          <% @recipe_foods.each do |recipe_food| %>
            <%= render :partial => 'recipes/ingredian', :locals => {:recipe_food => recipe_food} %>
          <% end %>
    <% else %>
      <p class="">Ingredient list is empty.</p>
    <% end %>
        </table>
                </div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>