<tbody>
					<tr class="">
						<td class="">
							<div class="">
								<div class="">
									<div class=""><%= food.name%></div>
								</div>
							</div>
						</td>
						<td class="">
							<%= food.quantity %>
						</td>
						<td class="">
							<%= food.measurement %>
						</td>
						<td class="">
							<span class="">$ <%= food.price %></span>
						</td>
						<td class=" ">

							<span class="">
								<i class=""><%= button_to "Delete", food_path(food.id), method: :delete, data: { confirm: "Are you sure?" }, class:"delete-button" %></i>
						    </span>
						</td>
					</tr>
				</tbody>
                