
<div class="List">
  <h1 class="heading">Shopping List</h1>
  <div class="shopping-info">
    <div><span class="">Amount of food items to buy: </span><span class="">&nbsp;<%= @foods.length %></span></div>
      <div><span class="">Total value of food needed:</span><span class="">&nbsp;$<%= @total %></span></div>
  </div>
  <table id="general-table">
    <thead>
      <tr>
        <th class="">Food</th>
        <th class="">Quantity</th>
          <th class="">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr class="">
          <td class=""><%= food.name %></td>
            <td class=""><%= food.quantity %></td>
          <td class="">$<%= food.price * food.quantity %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
