  <div class="navbar">
      <!-- navbar -->
    <nav  >
      <div class="">
        <a  href="#">
    
          Recipe Inventry.
        </a>
         <% if current_user%>
        <ul >
          
          <li><%= link_to "Foods", foods_path, class: "" %></li>
          <li><%= link_to "General Shopping List", "/general_shopping_list", class: "" %></li>
        </ul>
        <!-- Header Icons -->
        <div >
        <ul >
        <li><a  href="#">Welcome <%= current_user.name %>!</a></li>
        
        </ul>
        </div>
           <% end %>
      </div> 
      
    </nav>

        <!-- Nav Links -->
        <% if current_user%>
        <ul>
          <li><%= link_to "Recipes", recipes_path, class: "" %></li>
          <li><%= link_to "Public Recipes", "/public_recipes", class: "" %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete , data: { turbo: false }, class: " " %></li>
        </ul>
   <% end %>
  </div>

